@charset utf-8; 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;font-size: 100%;outline: 0 none;vertical-align: baseline;margin: 0;padding: 0;}table{border-collapse:collapse;border-spacing:0;}address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;} 


.main_flex{display:flex;display:-webkit-flex;-webkit-flex-flow:row wrap;flex-flow:row wrap}
.main_flex__nowrap{display:flex;display:-webkit-flex;-webkit-flex-flow:row nowrap;flex-flow:row nowrap}
.flex__jcontent_between{justify-content:space-between;-webkit-justify-content:space-between}
.flex__jcontent_start{justify-content:flex-start;-webkit-justify-content:flex-start}
.flex__jcontent_end{justify-content:flex-end;-webkit-justify-content:flex-end}
.flex__jcontent_center{justify-content:center;-webkit-justify-content:center}
.flex__jcontent_around{justify-content:space-around;-webkit-justify-content:space-around}
.flex__auto{flex:auto;-webkit-flex:auto;-ms-flex:auto}
.flex__align-items_start{align-items:flex-start;-webkit-align-items:flex-start}
.flex__align-items_end{align-items:flex-end;-webkit-align-items:flex-end}
.flex__align-items_baseline{align-items:baseline;-webkit-align-items:baseline}
.flex__align-items_stretch{align-items:stretch;-webkit-align-items:stretch}
.flex__align-items_center{align-items:center;-webkit-align-items:center}
.flex__align-content_flex-start{align-content:flex-start;-webkit-align-content:flex-start}
.flex__align-content_flex-end{align-content:flex-end;-webkit-align-content:flex-end}
.flex__align-content_space-between{align-content:space-between;-webkit-align-content:space-between}
.flex__align-content_center{align-content:center;-webkit-align-content:center}
.flex__align-content_space-around{align-content:space-around;-webkit-align-content:space-around}
.flex__align-content_stretch{align-content:stretch;-webkit-align-content:stretch}
.flex__flex-grow_01{flex-grow:1;-webkit-flex-grow:1}
.flex__flex-grow_02{flex-grow:2;-webkit-flex-grow:2}
.flex__flex-grow_03{flex-grow:3;-webkit-flex-grow:3}
.flex__flex-grow_04{flex-grow:4;-webkit-flex-grow:4}
.w5{width:5%;max-width:5%}.w10{width:10%;max-width:10%}.w15{width:15%;max-width:15%}.w20{width:20%;max-width:20%}.w25{width:25%;max-width:25%}.w30{width:30%;max-width:30%}.w35{width:35%;max-width:35%}.w40{width:40%;max-width:40%}.w45{width:45%;max-width:45%}.w50{width:50%;max-width:50%}.w55{width:55%;max-width:55%}.w60{width:30%;max-width:60%}.w65{width:65%;max-width:65%}.w70{width:70%;max-width:70%}.w75{width:75%;max-width:75%}.w80{width:80%;max-width:80%}.w85{width:85%;max-width:85%}.w90{width:90%;max-width:90%}.w95{width:95%;max-width:95%}.w100{width:100%;max-width:100%}
.main_flex__nowrap_reverse {display:flex;display:-webkit-flex;-webkit-flex-flow:row-reverse nowrap;flex-flow:row-reverse nowrap}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url(../fonts/Roboto-Regular.ttf);
}
body{
	background-image: linear-gradient(to right, #e8c535, #e74d3c);
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.wrap{
	width: 61vw;
	margin-right: auto;
	margin-left: auto;
}
header{
	padding: 0;
	margin-top: 2.91vw;
	margin-bottom: 16.1vw;
	text-align: center;
	font-family: 'Montserrat-Bold';
	color: #fff;
	font-size: 3.12vmax;
}
.main h1{
	font-family: 'Montserrat-Regular';
	color: #fff;
	font-size: 1.88vmax;
	font-weight: 200;
	margin-bottom: 2.96vw;
	margin-top: 2.96vw;
}
.content-block{
	position: relative;
	width: 55.73vw;
	background-color: rgba(236,240,241,.7);
	border-radius: 8px;
	padding-left: 2.19vw;
	padding-right: 2.19vw;
	padding-top: 2.08vw;
}
.content-img{
	position: relative;
	width: 15.62vw;
	height: 8.75vw;
	margin-bottom: 2.08vw;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}
.content-img img{
	width: 100%;
}
.content:hover{
	opacity: 0;
}
.content-img:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 0;
	background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.8) 90%);
	width: 15.62vw;
	height: 8.75vw;
	border-radius: 8px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}
.content p{
	position: absolute;
	right: 0.83vw;
	top: 0.7vw;
	width: 8.2vw;
	height: 7.4vw;
	text-align: right;
	font-family: 'Roboto-Regular';
	font-size: .83vw;
	line-height: 1.3vw;
	color: #fff;
	overflow: hidden;
}
.more-btn{
	position: absolute;
	bottom: -3.02vw;
	right: 5.2vw;
	width: 8.85vw;
	height: 3.02vw;
	background-color: rgba(236,240,241,.7);
	border-radius: 0 0 8px 8px;
	text-align: center;
	font-family: 'Montserrat-Regular';
	color: #fff;
	font-size: 1.88vw;
	font-weight: 200;
	cursor: pointer;
}
.more-btn:hover{
	font-size: 2.1vw;
}
.contact{
	position: fixed;
	right: 19.53vw;
	top: 28.04vw;
}
.contact-btn{
	width: 3.64vw;
	height: 3.64vw;
	background-color: #e8c535;
	border-radius: 8px;
	margin-bottom: 1.82vw;
	cursor: pointer;
	-webkit-transition: transform .5s ease-in-out;
	-moz-transition: transform .5s ease-in-out;
	-ms-transition: transform .5s ease-in-out;
}
.contact-btn svg{
	width: 3.12vw;
	fill: #e96134;
}
.contact-btn:hover{
	transform: scale(1.2);
}
#vk:hover{
	-webkit-transition: background-color .5s ease-in-out, transform .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out, transform .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out, transform .5s ease-in-out;
	background-color: #4375a3;
}
#vk svg:hover{
	-webkit-transition: fill .5s ease-in-out;
	-moz-transition: fill .5s ease-in-out;
	-ms-transition: fill .5s ease-in-out;
	fill: #fff;
}
#up-btn{
	display: none;
	position: fixed;
	bottom: 0;
	background-color: #e96134;
	border: .2vw solid #e8c535;
}
#up-btn svg{
	fill: #e8c535;
	width: 2.7vw;
}
#last-block{
	margin-bottom: 4.9vw;
}
.content p strong{
	font-family: 'Roboto-Regular';
	font-size: .93vw;
}
#tel-modal{
	display: none;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.65);
	color: #fff;
	font-family: 'Montserrat-Bold';
	text-align: center;
	font-size: 2.86vw;
	line-height: 4.42vw;
}
#tel-modal-content{
	height: 100%;
	width: 100%;
}
#tel-modal-content h2{
	font-size: 4.16vw;
}
#tel-modal-close{
	position: fixed;
	top: 33.5vw;
	right: 19.53vw;
	background: none;
}
#tel-modal-close svg{
	fill: #fff;

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px),
@media only screen and (max-width: 320px),
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
{
	header{
		font-size: 10vw;
	}
	.wrap{
		width: 96%;
	}
	.main h1{
		font-size: 7vw;
		text-align: center;
		margin-bottom: 14.96vw;
	    margin-top: 16.96vw;
	}
	.content-block{
		width: 100%;
	}
	.content-img{
		width: 100%;
		height: auto;
	}
	.content{
		position: relative;
		width: 100%;
		height: auto;
	}
	.content p{
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 3.5vw;
		line-height: 5vw;
		padding: 2vw;
	}
	.content p strong{
		font-size: 4vw;
	}
	.content-img{
		margin-bottom: 5vw;
	}
	.content-img:hover{
	transform: none;
	}
	.content:hover{
	opacity: 100;
	}
	.more-btn{
		bottom: -8.02vw;
	    right: 2.5vw;
	    width: 23.85vw;
	    height: 8.02vw;
	    font-size: 5vw;
	}
	.more-btn:hover{
		font-size: 1.88vw;
	}
	
	.contact{
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-top: 6vw;
		right: 0;
		top: 0;
	}
	.contact-btn{
		width: 11.64vw;
    	height: 11.64vw;
	}
	.contact-btn svg{
		width: 9vw;
    	height: 9vw;
	}
	.contact-btn:hover{
	transform: none;
	}
	#vk:hover{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	background-color: #4375a3;
	}
	#vk{
		background-color: #e96134;
	}
	#vk svg{
		fill: #e8c535;
	}
	#vk svg:hover{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	fill: #fff;
	}
	#tel-modal-content{
		height: auto;
		margin-bottom: 3vmax;
	}
	#tel-modal-close{
		position: relative;	
		top: 0;
		right: 0;
	}
	#tel-modal{
		display: none;
		flex-flow: column;
		justify-content: center;
		align-items:center;
	}
	#tel-modal{
		font-size: 3vmax;
		line-height: 5vmax;

	}
	#tel-modal h2{
		font-size: 5vmax;
	}
	#last-block{
		margin-bottom: 13vw;
	}
}
